body{
    margin: 0px;
    padding: 0px;
    height: 180vh;
    width: 240vh;
    background: darkgray;
}

.pai{
    width: 300px;
    height: 300px;
    margin: 150px;
    background: #363636;
    border: 1px solid black;
}

.filho{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    position: absolute;
    top: 300px;
    left: 300px;
    border: 1px solid black;
}

.paragrafo{
    width: 600px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 170%;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 4px 4px 5px magenta;

    
}